<div class="row justify-content-start">
  <div class="d-flex p-3 pb-4">

    <div class="card shadow p-2 text-white mb-20" style="background-color:#000000; width: 13rem; height: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{blackCard.text}}</h5>
      </div>
    </div>
  </div>

  <div *ngFor="let kaart of cards" class="d-flex p-3 pb-4">

    <div class="card shadow p-2 bg-light mb-20" style=" width: 13rem; height: 18rem">
      <div class="card-body">
        <h5 class="card-title">{{kaart.text}}</h5>
      </div>
    </div>

  </div>
</div>
<button class="btn btn-outline-light btn-lg" (click)="bevestig()">Volgende ronde</button>
<h4> <br></h4>
